body {
	font-family: 'Freckle Face', monospace;
    font-size: 1.7em;
	margin:0px;
    background-color: #3d4a7a;
}

a:hover {
    text-decoration: none;
}

ul {
	width: 100%;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

ul li {
	border: 1px solid #3d4a7a;
	border-collapse:collapse;
}

#logo-text {
    font-family: 'VT323', monospace;
    color: #414141;
    font-size: 1.9em;
    margin-top: 0px;
}

#navigation {
    background-color: #f23f3f;
	margin: 0px;
}

#mobile-menu {
	background-color: #58669b;
	min-height: 0px;
	padding: 0px;
}

#logo-img {
    background: url('../img/logo.png') #f23f3f no-repeat;
    background-position: 0px 10px;
    width: 345px;
    float: left;
    padding: 0px;
	min-height:130px;
}

.navbar {
    border: 0px;
    border-radius: 0px;
}

.navbar-toggle {
	margin-right: 0px;
}

.navbar-default .navbar-toggle {
	border-color: #555;
	background-color: #e22;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
	background-color: #ff7a7a;
}

* {
	box-sizing:border-box;
}

div {
	margin:0px;
}

.title {
	width:110px;
	text-align:center;
	float: right;
	margin: 0px;
	min-height:0px;
	border-top:0px;
	border-right:0px;
}

.container {
    width:100%;
    margin:0 auto;
}

@media (min-width: 768px) {

	/* NO F***NG IDEA WHY BOOTSTRAP SETS -15px HERE SO JUST OVERRODE THAT*/
	#logo-img {
	margin: 0px;
	}
	
    .navbar-collapse.collapse
    {
        display: none !important;
    }
}
